
/*------VARIABLES------*/
:root {

    --bg-color-primo: blue;
    --bg-color-secondo: red;

    
}

/*------COMMON PARTS------*/

/*------SPECIFIED PARTS BY ID------*/
img {

    width: 100%;

}

#carousel {

    position: relative;
    height: 800px;

}

.carousel-img {

    display: none;

}

.active {

    display: block;
    height: 100%;
    object-fit: cover;

}

.hidden {

    display: none;

}

.up,
.down {

    position: absolute;
    left:50%;
    transform: translateY(-50%);
    background-color: rgba(127, 127, 127, 0.5);
    border-radius: 50%;

}

.up:hover,
.down:hover {

    background-color: white;
    cursor: pointer;

}

.up {

    top: 40px;

}

.down {

    bottom: 10px;

}

.thumbnail-img {

    height: calc(800px / 5);
    object-fit: cover;

}

.thumbnail-img.active {

    transform: scale(0.9);
    border: 2px solid greenyellow;

}


